/* After you've linked the CSS file in the HTML,
this should turn the background blue ;) */


form {
  border: 1px solid #e8e8fb;
  border-radius: 4px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h2 {
  text-transform: uppercase;
  font-size: 15 px;
  margin-top: 0;
}

fieldset {
  border: none;
  padding: 0;
  background: white;
  border-radius: 4px;



}

label {
  display: flex;
  border-bottom: 1px solid #f0f5fa;
  align-items: center;
}

label:last-child {
  border-bottom: none;
}

span {
  width: 30%;
  text-align: right;
  margin-right: 15px;
  flex-shrink: 0;

}

input {
  width: 100%;
  font-size: 15 px;
  padding: 10px 0;
  border: none;
  outline: none;
}

select {
  width: 100%;
  margin: 10px 10px 10px 0;
}